*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

html, body, .main{
    width: 100%;
    height: 5000px;
}

.main{
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}


/* HEADER */

#header{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    border: 1px solid #1a1a1a;
    background-color: #DFE0DC;
    position: fixed;
    z-index: 1;
}

#logo{
    width: 30px;
    height: 30px;
    color: #330054;
    cursor: pointer;
}

#header input[type=search]{
    height: 20px;
    border: 2px solid #330054;
    background-color: transparent;
    border-radius: 6px;
    padding: 5px;
    color: #1F1F1F ;
}

.search{
    /* margin-left: 70px; */
    display: flex;
    gap: 15px;
}

#btnSearch{
    color: #330054;
    background: transparent;
    border: transparent;
    cursor: pointer;
    width: 20px;
    height: 20px;
    transform: scale(1.2); 
    transition: .4s;
}

#btnSearch:hover{
    transform: scale(1.4); 
}

.opaco{
    opacity: 0.7;
}

.favList{
    /* padding-right: 15px; */
    font-size: 20px;
    cursor: pointer;
    color: #330054;
    transition: .4s;
}

.favList:hover{
    transform: scale(1.1); 
}

/* CARROSSEL */

.carrosel{
    position: relative;
    top: 150px;
    width: 100%;
    height: 700px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    background-color: #DFE0DC;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1.0);
}

.slider{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 40px;
    border: 1px solid #1a1a1a;
    width: 1195px;
    height: 600px;
    background-color: #1a1a1a;
    overflow-y: hidden;
    overflow-x: auto;
    transition: transform 0.5s;
    scroll-behavior: smooth;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}

.slider::-webkit-scrollbar{
   display: none; 
}

.carrosselDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 480px;
    padding: 15px;
    background-color: #1F1F1F;
    border: 1px solid #1F1F1F;
    border-radius: 6px;
    gap: 20px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.carrosselDiv > a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.carrosselDiv h3{
    color: #DFE0DC;
    font-size: 16px;
}

.carrosselDiv img{
    width: 225px;
    height: 360px;
    border: transparent;
    border-radius: 6px;
}

#btnCarroselLeft{
    height: 30px;
    width: 30px;
    background-color: transparent;
    color: #330054;
    border-color: transparent;
    position: absolute;
    left: 310px;
    top: 350px;
    cursor: pointer;
    transition: .5s;
    transform: scale(1.8); 
    z-index: 1;

}

#btnCarroselRight{
    height: 30px;
    width: 30px;
    background-color: transparent;
    color: #330054;
    border-color: transparent;
    position: absolute;
    right: 310px;
    top: 350px;
    cursor: pointer;
    transition: .5s;
    transform: scale(1.8); 
    z-index: 1;
}


.carrosel > #btnCarroselLeft:hover{
    transform: scale(2.2); 
}

.carrosel > #btnCarroselRight:hover{
    transform: scale(2.2); 
}

.title{
    display: flex;
    gap: 10px;
    width: 1195px;
    align-items: center;
}

.titleCarrosel{
    font-size: 26px;
    color: #1a1a1a;
}

#fogo{
    color: #CB1B00;
    font-size: 26px;
}

.logoAnimated{
    display: flex;
    gap: 1px;
}

.logoAnimated:hover{
    animation: moverRotacionar .9s;
}

.heart{
    position: absolute;
    top: 495px;
    width: 20px;
    height: 20px;
    font-size: 26px;
    color: #CB1B00;
    cursor: pointer;
    transition: .4s;
}

.heart:hover{
    transform: scale(1.2); 
}

.heartCartaz{
    position: absolute;
    top: 400px;
    width: 20px;
    height: 20px;
    font-size: 26px;
    color: #CB1B00;
    cursor: pointer;
    transition: .4s;
    z-index: 2;
}

.heartCartaz:hover{
    transform: scale(1.2); 
}


@keyframes moverRotacionar {
    0% {
      transform: translateX(0) rotate(0deg);
    }

    50% {
      transform: translateX(0) rotate(-50deg);
    }

    100%{
        transform: translateX(0) rotate(0deg);
    }
}


.Cartaz{
    border: 1px solid red;
    width: 100%;
    position: relative;
    top: 300px;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: auto; 
    gap: 20px;
    padding: 30px;
    border-radius: 6px;
    background-color: #1F1F1F;
    border-color: #1F1F1F   ;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    gap: 50px;
}


.divCartaz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 435px;
    background-color: #DFE0DC;
    border: 1px solid #1F1F1F;
    border-radius: 6px;
    gap: 15px;
    position: relative;
    cursor: pointer;
    grid-column: span 1;   
    grid-row: span 1; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    text-align: center;
}

.divCartaz > a{
    text-decoration: none;
    color: #1F1F1F;
}

.divCartaz h3{
    color: #1a1a1a;
    font-size: 16px;
}

.divCartaz img{
    width: 185px;
    height: 260px;
    border: transparent;
    border-radius: 6px;
}

#cartazTitle{
    position: relative;
    top: 235px;
    font-size: 1.3rem;
    color: #DFE0DC;
}

::-webkit-scrollbar {
    width: 12px; 
  }
  

  ::-webkit-scrollbar-track {
    background-color: #1F1F1F; 
    color: #1a1a1a;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 6px; 
    transition: .4s;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
  }